*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700,400italic,700italic&subset=latin,cyrillic);

.wrapper{
    background-color: rgb(202, 202, 202);
    width: 100%;
    max-width: 1200px; 
}

.search-block{
    display: flex;
    box-sizing: border-box;

    width: 100%;
    height: 150px;
    padding-right: 15%;

    align-items: center;
    justify-content: flex-end;
}

        .search-block .logo{
            font-size: 48px;
           
            margin-left: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
                .search-block .logo .image{
                    display: block;
                    background-size: cover;
                    background-image: url(img/logo.png);
                    height: 100px;
                    width: 100px;
                }
                .search-block .logo .image:hover{
                transform: rotate(360deg);
                transition-duration: 2s;
                }
                .search-block .logo .title{
                    margin-top: 40px;
                    display: block;
                    height: 100%;
                  width: 100%;
                  color: rgba(225, 0, 255, 0.055);
                 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                  display: none;
                   
                }
        .search-block .search-input{
            height: 70px;
            width: 60%;
            min-width: 320px;
            max-width: 550px;
            
            font-size: 14px;
            border: 2px solid rgba(0, 0, 0, 0.336);
            padding-left: 20px;

            font-size: 20px;
            color: rgba(0, 0, 0, 0.575);
        }
        .search-block .search-button{
            border: 2px solid rgba(0, 0, 0, 0.336);
            height: 70px;
           width: 80px;
            margin-left: 3px;
            font-size: 16px;
            border-radius: 0px 20px 20px 0px;
            background-image: url(img/search.png);
            background-repeat: no-repeat;
           
           background-position: center center;
        }
        .search-block .search-button:hover{
            transform: scale(110%);
        }
       

.video-block{
    display: inline-block;

    width: 65%;
    height: auto;

    vertical-align: top;
    
}

        .video-block .output-video-block{
            
            background-color: black;
            position:relative;
            padding-bottom:58%;
            padding-top:30px;
            height:0;
            overflow:hidden;
            border:1px solid #ccc;
        }

        .video-block .output-video-block iframe{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }

        .video-block .top-info-block{
            background-color: rgba(206, 206, 206, 0.514);
            width: 100%;
            height: 75px;
            font-family:  'Arial Narrow', Arial, sans-serif;
            display: flex;
            justify-content: space-between;

            font-size: 18px;
            display: none;
        }
                .video-block .top-info-block .info-title{
                    width: 450px;
                    height: 100%;
                    background-color: rgba(134, 134, 134, 0.514);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding:0px  10px;
                   box-shadow: rgb(75, 74, 74) 3px 0px 20px 0px;
                   font-weight: 700;
                    
                }
                .video-block .top-info-block .info-views{
                    width: 170px;
                    height: 100%;
                    margin-right: 30px;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 50% 50%;
                }
                
                    .video-block .top-info-block .info-views .countOfViews{
                        grid-column: 1/3;
                        display:flex;
                        margin-top: 6px;
                        height: 100%;
                        width: 100%;
                        align-items: center;
                        justify-content: flex-end;
                     }

                            .video-block .top-info-block .info-views .countOfViews .image{
                                height: 60%;
                                width: 25px;
                                background-size: 100% 100%;
                                background-image: url(img/views.png) ;
                                margin-left: 15%;
                                margin-right: 5%;
                                
                            }

                    .video-block .top-info-block .info-views .likes{
                       
                        display: flex;
                        height: 100%;
                        width: 100%;
                        align-items: center;
                        justify-content: flex-start;
                    }
                            .video-block .top-info-block .info-views .likes .image{
                                height: 60%;
                                width: 25px;
                                background-size: 100% 100%;
                                background-image: url(img/like.png)
                            }
                            .video-block .top-info-block .info-views .likes .image:hover { 
                                background-color: rgba(206, 206, 206, 0.514);
                                background-blend-mode: lighten;
                                cursor: pointer;
                            }
                            

                    .video-block .top-info-block .info-views .dislikes{
                        display: flex;
                        height: 100%;
                        width: 100%;
                        align-items: center;
                        justify-content: flex-start;
                        margin-left: 20%;
                    }
                            .video-block .top-info-block .info-views .dislikes .image{
                                height: 60%;
                                width: 25px;
                                background-size: 100% 100%;
                                background-image: url(img/dislike.png)
                            }

                            .video-block .top-info-block .info-views .dislikes .image:hover { 
                                background-color: rgba(206, 206, 206, 0.514);
                                background-blend-mode: lighten;
                                cursor: pointer;
                            }

                            
                        

        .video-block .bottom-info-block{
           width: 100%;
           background-color: rgb(226, 226, 226);
           height: auto;
           display: grid;

           grid-template-columns: 75% 25%;
           grid-template-rows: 50% 50%;
           
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           font-size: 15px;
           border-bottom: 10px solid rgb(119, 37, 173);
           
        }
                .video-block .bottom-info-block .date{
                    overflow: hidden;
                  height: auto;
                   
                    align-items: center;
                }
                .video-block .bottom-info-block .channelName{
                   height: auto;
                   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .video-block .bottom-info-block .description{
                   grid-row: 1/3;
                   padding: 15px 15px;
                    height: auto;
                    font-weight: 500;
                    
                }


.search-result-block{
    display: inline-block;
  
    width: 34.5%;
    min-height: calc(100vh - 250px );
    

    background-color: rgb(255, 255, 255);
   overflow: hidden;
   box-sizing: content-box;
   border-bottom: 20px solid rgb(54, 49, 49);
}

        .search-result-block .page-switcher{
            height: 50px;
            width: 100%;
            background: rgb(124, 124, 124);
            display: flex;
            justify-content: space-between;
        }

                .search-result-block .page-switcher .page-left{
                    height: 100%;
                    width: 80px;
                    max-width: 80px;
                    cursor: pointer;

                    background-image: url(img/arrow-left.png); 
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .search-result-block .page-switcher .page-left:hover{
                    background-color: white;
                    mix-blend-mode: color;
                }

                .search-result-block .page-switcher .current-page{
                  
                    height: 100%;
                  width: 100%;
                    
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: 0% 10%;
                }
                     
                    .search-result-block .page-switcher .current-page .dot{
                        width: 6px;
                        height: 6px;
                        margin: 0px 0%;
                        background-color: white;
                        border-radius: 100px;
                     }

                .search-result-block .page-switcher .page-right{
                    cursor: pointer;
                    height: 100%;
                    width: 80px;
                    max-width: 80px;
                    background-image: url(img/arrow-right.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .search-result-block .page-switcher .page-right:hover{
                    background-color: white;
                    mix-blend-mode: color;
                }
                

        .searched-videos{
            width: 100%;
            height: 100%;
            background-color:white;
            min-height: 50px;
            overflow: hidden;
           display: block;
           
          
        }
                .searched-page{
                    min-width: 100%;
                    max-width: 100%;
                    height: 100%;
                    min-height: 50px;
                    background-color:white;
                   display: grid;
                   grid-template-columns: auto auto ;
                  grid-template-rows: repeat(10,auto)
                }
                .searched-video{
                    justify-self: center;
                    width: 95%;

                   
                    min-height: 150px;
                    min-width: 120px;
                    max-width: 210px;
                    overflow: hidden;
                    padding: 5px;
                    margin: 7px;
                    cursor: pointer;
                    box-shadow: 2px 2px 5px 2px rgb(175, 174, 174);
                    border-radius: 3px;
                    max-width: 100%;
                    max-height: 300px;
                }
                .searched-video:hover{
                    background-color: rgba(105, 130, 163, 0.137);
                    box-shadow: 2px 2px 5px 2px rgb(175, 174, 174);
                   
                }

                    .searched-video .image{
                            width: 100%;    
                           min-height: 80%; 
                           border: 2px solid black;
                           border-radius: 5px;
                           max-height: 300px;
                           max-width: 180px;
                           
                            background-color: black;               
                    }
                    .searched-video .title{
                        padding: 0px 10px;
                            width: 100%;
                           height: auto;
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                           margin-top: 10%;
                           max-height: 300px;
                           max-width: 170px;
                    }



@media (max-width: 1120px) {
    .search-result-block{
        width: 30.5%;
    }
    .video-block{
       width: 69%;
    }
}

@media (max-width: 1000px) {
  
    .video-block .top-info-block .info-title{
        width: 350px;
    }
    .search-result-block{
        width: 25.5%;
       
    }
    .video-block{
       width: 74%;
    }

    .searched-videos{
        grid-template-columns:  auto;
    }
    .searched-page{
        grid-template-columns:  auto;
    }
    .searched-video{
        max-width: 510px;
    }
    .searched-video .image{
        max-width: 510px;
    }
  }

@media (max-width: 800px) {
  
    .wrapper{
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .video-block .bottom-info-block{
        font-size: 12px;
    }
    .video-block .top-info-block{
        font-size: 14px;
    }
    .search-result-block{
        width: 100%;
        min-height: calc(100vh - 250px );
    }
    .video-block{
        width: 100%;
    }
    .search-block{
        height: 100px;
        justify-content: center;
        padding-right: 0;
    }
    .search-block .logo{
        display: none;
    }


    .video-block .top-info-block .info-title{
        width: 300px;
    }

    .searched-videos{
        display: flex;
        width: 100%;
        min-height: 120px;
        overflow: hidden;
    }
    .searched-page{
        display: flex;
    
       
       min-width: 100%;
       max-width: 100%;
        justify-content: space-around;
        min-height: 120px;
        margin: 0px 0px;
        
    }
    .searched-videos .searched-video{
       width: 20%;
       min-width: 180px;
       min-height: 120px;
    }

    @media (max-width: 500px) {
        .video-block .top-info-block .info-title{
            width: 220px;
        }
        .video-block .top-info-block .info-views{
            width: 125px;
        }
    }

    
  }


  footer{
width: 100%;
height: 100px;
background: rgba(0, 0, 0, 0.411);
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
color: rgba(0, 0, 0, 0.082);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


  }