*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    
}

.wrapper{
    background-color: rgb(107, 88, 122);
    width: 100%;
    max-width: 1200px;
  
}

.search-block{
    display: flex;
    box-sizing: border-box;
    border: 1px solid red;

    width: 100%;
    height: 150px;
    padding-right: 10%;

    align-items: center;
    justify-content: flex-end;
}


        .search-block .logo{
            font-size: 40px;
           margin-right: 10%;
            margin-left: 20px;
        }
        .search-block .search-input{
            height: 50px;
            width: 60%;
            min-width: 320px;
            max-width: 550px;
            
            font-size: 14px;
        }
        .search-block .search-button{
            height: 54px;
           width: 80px;
            margin-left: 2px;
            font-size: 16px;

            background-image: url(img/search.png);
            background-repeat: no-repeat;
           
           background-position: center center;
        }


.video-block{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgb(238, 255, 0);

    width: 65%;
    height: auto;

    vertical-align: top;
}

        .video-block .output-video-block{
            background-color: rgba(0, 0, 0, 0.514);
            min-height:300px;
            width: 100%;
        }

        .video-block .top-info-block{
            background-color: rgba(243, 243, 243, 0.514);
            width: 100%;
            height: 75px;

            display: flex;
            justify-content: space-between;
        }
                .video-block .top-info-block .info-title{
                    width: 450px;
                    height: 100%;
                    background: rgb(94, 94, 94);
                }
                .video-block .top-info-block .info-views{
                    width: 170px;
                    height: 100%;
                    background: rgb(94, 94, 94);

                    margin-right: 30px;
                }

        .video-block .bottom-info-block{
           width: 100%;
           min-height: 100px;
           background-color: rgb(182, 182, 182);
        }


.search-result-block{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgb(60, 255, 0);
  
    width: 34.5%;
    height: auto;

    background-color: rgba(0, 128, 0, 0.185);
   
}

        .search-result-block .page-switcher{
            height: 50px;
            width: 100%;
            background: rgb(163, 126, 126);
            display: flex;
            justify-content: space-around
        }

                .search-result-block .page-switcher .page-left{
                    height: 100%;
                    width: 35%;
                    background-color: rgb(74, 74, 163);

                    background-image: url(img/arrow-left.png);
                    background-size: contain;
                  
                }

                .search-result-block .page-switcher .current-page{
                    height: 100%;
                    width: 50px;
                    background-color: rgb(74, 74, 163);
                }

                .search-result-block .page-switcher .page-right{
                    height: 100%;
                    width: 35%;
                    background-color: rgb(74, 74, 163);

                    background-image: url(img/arrow-right.png);
                    background-size: contain;
                }

        .searched-videos{
            width: 100%;
            height: 100%;
            background-color: rgb(148, 148, 148);
            min-height: 300px;
           

           /*  display: flex;
            flex-direction: column;
           align-items: center; */
           display: grid;
           grid-template-columns: auto auto ;
          grid-template-rows: repeat(10,auto)
        }

                .searched-video{
                    justify-self: center;
                    width: 100%;

                    /* height: auto; */
                    min-height: 150px;
                    min-width: 120px;
                    border: 1px solid black;
                    overflow: hidden;
                }


@media (max-width: 1120px) {
    .search-result-block{
        width: 30.5%;
    }
    .video-block{
       width: 69%;
    }
}

@media (max-width: 1000px) {
  
    .video-block .top-info-block .info-title{
        width: 350px;
    }
    .search-result-block{
        width: 25.5%;
    }
    .video-block{
       width: 74%;
    }

    .searched-videos{
        grid-template-columns:  auto;
    }

  }

@media (max-width: 800px) {
  
    .wrapper{
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .search-result-block{
        width: 100%;
    }
    .video-block{
        width: 100%;
    }
    .search-block{
        height: 100px;
        justify-content: center;
        padding-right: 0;
    }
    .search-block .logo{
        display: none;
    }


    .video-block .top-info-block .info-title{
        width: 300px;
    }

    .searched-videos{
        display: flex;
        width: 100%;
        justify-content: space-around;
        min-height: 120px;
        /* grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr;
        */
    }
    .searched-videos .searched-video{
       width: 20%;
       min-width: 180px;
       min-height: 120px;
    }

    
  }


  footer{
width: 100%;
height: 100px;
background: rgba(0, 0, 0, 0.411);
  }