*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
   
}

.wrapper{
    background-color: rgb(107, 88, 122);
    width: 100%;
    max-width: 1200px;
    min-height: 1000px;

    
}

.search-block{
    display: flex;
    box-sizing: border-box;
    border: 1px solid red;

    width: 100%;
    height: 150px;
    padding-right: 10%;

    align-items: center;
    justify-content: flex-end;
}


        .search-block .logo{
            font-size: 40px;
           margin-right: 10%;
            margin-left: 20px;
        }
        .search-block .search-input{
            height: 50px;
            width: 60%;
            min-width: 320px;
            max-width: 550px;
            
            font-size: 14px;
        }
        .search-block .search-button{
            height: 54px;
           width: 80px;
            margin-left: 2px;
            font-size: 16px;
        }


.video-block{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgb(238, 255, 0);

    width: 70%;
    height: 500px;

    vertical-align: top;
}

        .video-block .output-video-block{
            background-color: rgba(0, 0, 0, 0.514);
            height: 80%;
            width: 100%;
        }

        .video-block .info-block{
            background-color: rgba(243, 243, 243, 0.514);
            width: 100%;
            height: 20%;
        }



.search-result-block{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgb(60, 255, 0);
  
    width: 29.5%;
    min-height: 1000px;

    background-color: rgba(0, 128, 0, 0.185);
   
}
@media (max-width: 1000px) {
  
   
    .search-result-block{
        width: 30.5%;
    }
    .video-block{
       width: 69%;
    }

  }

@media (max-width: 800px) {
  
    .wrapper{
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .search-result-block{
        width: 100%;
    }
    .video-block{
        width: 100%;
    }
    .search-block{
        height: 100px;
        justify-content: center;
        padding-right: 0;
    }
    .search-block .logo{
        display: none;
    }
  }